.post {
    border: solid;
    width: 99%;
    margin-bottom: 6px;
    padding-bottom: 25px;

    /*Pale Yellow*/
    background-color: rgb(215,215,204, 0.6);
    height: 8rem;
    user-select: none;
    border-radius: 6px;
}

.post:hover {
  background-color: darkcyan;
}

.pos:onclick {
  height: 7rem;
}

.post h3 {
  text-align: left;
  float: left;
  vertical-align: top;
  color: black;
  font-weight: bold;
  font-size: 10;
}

.poster {
  color: black;
  font-size: 6;
  text-align: left;
  clear: both;
  padding-bottom: 4px;
}

.commentCount {
  color: black;
  font-size: 20px;
  text-align: right;
  position: relative;
  float: right;
  margin-top: -58px;
  padding-right: 10px;
}

/* On Hover, as users may link to the page */
.poster a:hover {
  color: darkgrey;
  text-decoration: underline;
}

.organization {
  float: right;
  text-align: right;
  vertical-align: top;
  color: black;
  background-color: darkcyan;
  border-radius: 6px;
  padding: 4px;
  margin-right: 10px;
  margin-bottom: -20px;
}

.organization a:hover {
  color: darkgrey;
  text-decoration: underline;
}

.comment {
  width: 60rem;
  border: solid;
  text-align: left;
  height: 40px;
  color: black;
  font-size: 16px;
  user-select: none;
  flex: 1;
  margin-right: 100px;
}

.comment .poster {
  text-align: right;
  padding-right: 12px;
  margin-top: -12px;
  font-size: 20px;
}

.comment p {
  color: black;
  text-align: left;
  vertical-align: middle;


  font-size: 10px;
}

.fakelist {
  padding: 2px;
  flex-flow: row;
  font-size: 0px;
}

.none {
  display: none;
}

.expanded {
  display: flex;
}

.flexbox {
  display: flex;
  flex-flow: column;
}

.post-form {
  background-color: #ffffff;
  padding: 20px;
  max-width: 400px;
  margin: 40px auto;
  border-radius: 3px;
  box-shadow: 0 1px rgba(255, 255, 255, .2) inset, 0 2px 2px -1px rgba(0, 0, 0, .3);
}

.post-form h1{
  text-align: center;
  margin: 0 0 20px 0;
}

.post-form .form-control {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.post-form .form-control label {
  font-weight: bold;
  margin-bottom: 3px;
}

.post-form textarea {
  resize: none !important;
  height: 100px;
}

.postbutton {
  align-self: right;
}

.comment-block {
  display: block;
  width: 80%;
}

.words {
  padding: 8px;
  text-align: left;
  color: black;
}

.submitbutton {
  background-color: black;
  float: left;
  padding: 10px;
}
