.post {
    border: solid;
    width: 95%;
    margin: 5px;
    padding: 4px;
    /*Pale Yellow*/
    background-color: rgb(215,215,204, 0.6);
    height: 10rem;
    display: block;
    user-select: none;
}

.post:hover {
  background-color: darkblue;
}

.post h3 {
  text-align: left;
  float: left;
  vertical-align: top;
  color: black;
  font-weight: bold;
}

.poster {
  color: black;
  font-size: 16;
  text-align: left;
  clear: both;
}

/* On Hover, as users may link to the page */
.poster a:hover {
  color: darkgrey;
  text-decoration: underline;
}

.organization {
  float: right;
  text-align: right;
  color: black;
  background-color: darkcyan;
  border-radius: 6px;
  padding: 4px;
}

.organization a:hover {
  color: darkgrey;
  text-decoration: underline;
}

.comment {
  width: 80%;
  border: solid;
  height: 50px;
  margin: 2px;
  color: black;
  display: flex;
  font-size: 22px;
  user-select: none;
}

.comment .poster {
  text-align: right;
  flex: 1;
  height: 40%;
  margin: 5px;
  font-size: 32px;
}

.comment p {
  margin: 10px;
  color: black;
  text-align: left;
  vertical-align: middle;
  height: 30%;
  font-size: 24px;
}

.fakelist {
  padding: 2px;
  font-size: 0px;
}

.none {
  display: none;
}
.expanded {
  display: block;
}

.post-form {
  background-color: #ffffff;
  padding: 20px;
  max-width: 400px;
  margin: 40px auto;
  border-radius: 3px;
  box-shadow: 0 1px rgba(255, 255, 255, .2) inset, 0 2px 2px -1px rgba(0, 0, 0, .3);
}

.post-form h1{
  text-align: center;
  margin: 0 0 20px 0;
}

.post-form .form-control {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.post-form .form-control label {
  font-weight: bold;
  margin-bottom: 3px;
}
