.post {
    border: solid;
    width: 80%;
    margin: 5px;
    padding: 8px;
  }
  .post:hover {
    background-color: darkblue;
  }
  
  .post h3 {
    text-align: left;
    float: left;
  
  }
  
  #poster {
    color: grey;
    font-size: 15;
    text-align: left;
    position: relative;
    clear: both;
  }
  
  /* On Hover, as users may link to the page */
  #poster a:hover {
    color: darkgrey;
    text-decoration: underline;
  }
  
  #organization {
    float: right;
    text-align: right;
    color: grey;
  }
  
  #organization a:hover {
    color: darkgrey;
    text-decoration: underline;
  }
  