.user {
    border: solid;
    width: 99%;
    margin:5px;
    
}
.username {
    text-align: left;
}
.email {
    text-align: left;
}
.acc_creation {
    text-align: left;
}
.num_comments {
    text-align: left;
}

