.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.post {
  border: solid;
  width: 80%;
  margin: 5px;
  padding: 8px;
}
.post:hover {
  background-color: darkblue;
}

.post h3 {
  text-align: left;
  float: left;

}

#poster {
  color: grey;
  font-size: 15;
  text-align: left;
  position: relative;
  clear: both;
}

/* On Hover, as users may link to the page */
#poster a:hover {
  color: darkgrey;
  text-decoration: underline;
}

#organization {
  float: right;
  text-align: right;
  color: grey;
}

#organization a:hover {
  color: darkgrey;
  text-decoration: underline;
}
